*.csv
*.shp
*.geojson
*.dbf
*.shx
*.xlsx
*.cpg
*.prj
*.pyc
*.osm



*.log
*.log~1

# GAMS Files
*.dat
*.opt
*.cmd
*.gdx
*.lst
*.lxi
*.gms

data/
gams_part/
trash_delete_when_finished/
CaseStudies/
logs/
cache/

!default_inputs/input_HeatGenerationUnits.xlsx
!default_inputs/input_ParameterCosts.xlsx
!default_inputs/input_WastHeatProfiles.xlsx
